.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
  color: white;
}

.skills-programming {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.skills-backend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.skills-frontend  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.skills-ul {
  list-style: none;
}