.header {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: calc(10px + 1vmin);
    color: white;
    margin: 0 0 1rem 0;

    

}


